table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid white;
}

th {
  padding: 6px;
}

td {
  margin-left: 2px;
}

tr {
  text-align: center;
}

ul {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.sm\:items-center {
  align-items: center;
}

.sm\:pt-0 {
  padding-top: 0;
}

.font-bold {
  font-weight: 700;
}

.text-3xl {
  font-size: 1.875rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.border {
  border-width: 1px;
}

.border-gray-400 {
  border-color: #cbd5e0;
}

.border-gantt {
  border: 1px solid white;
}

.p-8 {
  padding: 2rem;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-slate-700 {
  background-color: #2d3748;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.block {
  display: block;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
  border: none;
}

.text-sm {
  font-size: 0.875rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.w-full {
  width: 100%;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.text-gray-700 {
  color: #4a5568;
}

.leading-tight {
  line-height: 1.25;
}

.focus\:outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.font-semibold {
  font-weight: 600;
}

.text-1xl {
  font-size: 1.25rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.grid {
  display: grid;
}

.justify-items-center {
  justify-items: center;
}
.container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-auto {
  table-layout: auto;
}

.contents {
  display: contents;
}

.w-8 {
  width: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
